/* degradados */
/*
h1{
  color:#8F3AFF;
}
p{
  color:#F1F000;
  column-count: 3;
  text-align: justify;
  background-color: pink;
  border-radius: 60px 1px;
  padding: 20px;
  border-style: dashed;
  border-width: medium;
  background-image: linear-gradient(lime, cyan);
}
.classe1{
  color: #FF0000;
}
#identificador{
  color: #FFFF00;
}
a{
  font-size: 30px;
}
li{
  color: lightblue;
}
*/

/* transiciones */

/*
.p{
float: left;
height: 50px;
width: 50px;
background: salmon;
border-style: groove;
border-width: 10px;
transition-property: color, width, background-color, border-radius;
transition-duration: 3s;
transition-timing-function: ease;
transition-delay: .3s;
border-radius: 2000px;
}
.p:hover{
  color: red;
  width: 500px;
  background-color: yellow;
  border-radius: 2000px;
}
.k{
height: 50px;
width: 50px;
background: salmon;
border-style: groove;
border-width: 10px;
transition-property: color, height, background-color, border-radius;
transition-duration: 2s;
transition-timing-function: ease;
transition-delay: .3s;
transform: translate(35px, -270px);
border-radius: 2000px;
}
.k:hover{
  color: red;
  height: 150000px;
  background-color: black;
  border-radius: 2000px;
}
*/

/**/

div{
  width: 100px;
  height: 100px;
  border: solid;
  text-align: center;
  padding-top: 40px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

#div2{
  position: relative;
  left: 110px;
  bottom: 5px;
}

#div1{
  position: relative;
  top: 100px;
}

#div4{
  position: relative;
  bottom: 105px;
  left: 110px;
}
