*{
  font-family: Calibri, sans-serif;
  font-style: normal;
  font-size: 18px;
}
#lore{
  font-style: oblique;
  font-variant: small-caps;
}
body{
  background-image: url(https://ichef.bbci.co.uk/news/660/cpsprodpb/93B3/production/_91411873_14370347_1655937074697157_8607714744240888925_n.png);
  background-repeat: no-repeat;
  background-size: cover;
  font: serif;
  text-align: justify;
  line-height: 125%;
  word-spacing: 0%;
}
.dreta{
  text-align: right;
}
.centre{
  text-align: center;
}
.esquerre{
  text-align: left;
}
