body {
background-image: url("https://steamuserimages-a.akamaihd.net/ugc/100603056096593431/7480E9AA8F41C2C3A096A9EABCC419E90C03C716/");
background-repeat: no-repeat;
background-attachment: fixed;
padding:10px;
padding-bottom:60px;
}
header{
  text-align: center;
  text-shadow: #1db7fe 5px 0 5px;
}
table {
 width: 500px;
 position: absolute;
 left: 50%;
 margin-right: -50%;
 transform: translateX(-50%);
}
th, td {
 width: 25%;
 text-align: center;
 padding: 15px;
 vertical-align: bottom;
 background-image: url(https://www.freeiconspng.com/uploads/circle-png-7.png);
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
}
.naveg{
  font-size: 40px;
  font-family: Comic Sans MS;
  font-weight: bold;
  text-align: center;
  color: #959696;
  -webkit-text-stroke: 2px black;
  transition-property: all;
  transition-duration: .3s;
}
.naveg:hover{
  transform: scale(1.25);
  color: #E0D938;
}
img{
display:block;
margin:auto;
}
#major{
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
}
.tabla{
  transition-property: all;
  transition-duration: .3s;
  padding: 10px;
  vertical-align: bottom;
  font-family: Comic Sans MS;
}
.tabla:hover{
  transform: scale(1.25);
}
.button{
  background:#6cf;
  text-align: center;
  border-radius:6px;
	border:1px solid #ffaa22;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
  width: 60px;
  margin: auto;
  background-image: linear-gradient(#ffec64, #ffab23);
}
.button:hover{
  background-image: linear-gradient(#ffab23, #ffec64);
}
.registro{
  color:#FFFFFF;
  text-align: center;
  width: 150px;
  display: block;
  align-items: center;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
}
.sx{
  text-align: left;
}
#required{
  color:#ff0000;
}
.guide{
  text-align: center;
}
.textg{
  width:1000px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #535353;
  padding: 10px;
  border-radius: 10px;
  border-color: #353535;
  border-style: solid;
}

.Slime, .Ojo, .Gusano, .Cerebro, .Esqueleto, .Abeja, .Muro, .Destructor, .Gemelos, .Prime, .Plantera, .Golem, .Fishron, .Sectario, .Moon{
  border: 1px solid black;
  border-radius: 6px;
  width: 50px;
  height: 50px;
  float: left;
  overflow: hidden;
  margin-bottom: 50px;
  vertical-align: center;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1px;
  transition-property: all;
}
.Slime{
  background-image: url(https://vignette.wikia.nocookie.net/terraria/images/f/f5/Corona_de_Babosa.png/revision/latest?cb=20160529173238&path-prefix=es);
  transform: translateX(540px);
}
.Ojo{
  background-image: url(https://vignette.wikia.nocookie.net/terraria/images/2/24/Suspicious_Looking_Eye.png/revision/latest?cb=20160326005948&path-prefix=es);
  transform: translateX(540px);
}
.Gusano{
  background-image: url(https://vignette.wikia.nocookie.net/terraria/images/c/c3/Worm_Food.png/revision/latest?cb=20180421164740&path-prefix=es);
  transform: translateX(540px);
}
.Cerebro{
  background-image: url(https://vignette.wikia.nocookie.net/terraria/images/6/68/Bloody_Spine.png/revision/latest?cb=20180421164816&path-prefix=es);
  transform: translateX(540px);
}
.Esqueleto{
  background-image: url(https://vignette.wikia.nocookie.net/terraria/images/7/7c/Clothier_Voodoo_Doll.png/revision/latest?cb=20150905180128&path-prefix=es);
  transform: translateX(540px);
}
.Abeja{
  background-image: url(https://vignette.wikia.nocookie.net/terraria/images/e/eb/Abeemination.png/revision/latest?cb=20150823164612&path-prefix=es);
  transform: translate(270px, 56px);
}
.Muro{
  background-image: url(https://vignette.wikia.nocookie.net/terraria/images/1/1b/Guide_Voodoo_Doll.png/revision/latest?cb=20140309114939&path-prefix=es);
  transform: translate(270px, 56px);
}
.Destructor{
  background-image: url(https://vignette.wikia.nocookie.net/terraria/images/6/6d/Mechanical_Worm.png/revision/latest?cb=20160529173541&path-prefix=es);
  transform: translate(270px, 56px);
}
.Gemelos{
  background-image: url(https://vignette.wikia.nocookie.net/terraria/images/5/5e/Mechanical_Eye.png/revision/latest?cb=20160529173423&path-prefix=es);
  transform: translate(270px, 56px);
}
.Prime{
  background-image: url(https://vignette.wikia.nocookie.net/terraria/images/c/c9/Mechanical_Skull.png/revision/latest?cb=20160529173708&path-prefix=es);
  transform: translate(270px, 56px);
}
.Plantera{
  background-image: url(https://vignette.wikia.nocookie.net/terraria/images/b/b8/Flor_de_Plantera.png/revision/latest?cb=20140426190811&path-prefix=es);
  transform: translateY(112px);
}
.Golem{
  background-image: url(https://vignette.wikia.nocookie.net/terraria/images/9/9d/Lihzahrd_Power_Cell.png/revision/latest?cb=20150911011500&path-prefix=es);
  transform: translateY(112px);
}
.Fishron{
  background-image: url(https://vignette.wikia.nocookie.net/terraria/images/3/3e/Truffle_Worm.png/revision/latest?cb=20140510051845&path-prefix=es);
  transform: translateY(112px);
}
.Sectario{
  background-image: url(https://vignette.wikia.nocookie.net/terraria/images/d/d0/Lunatic_Devote.gif/revision/latest?cb=20150717020116&path-prefix=es);
  transform: translateY(112px);
}
.Moon{
  background-image: url(https://vignette.wikia.nocookie.net/terraria/images/0/0c/Celestial_Sigil.png/revision/latest?cb=20150713232451&path-prefix=es);
  transform: translateY(112px);
}
.principal{
  width: 500px;
  height: 0px;
  overflow: hidden;
  display: inline-block;
  background-repeat: no-repeat;
  transition-duration: .5s;
  background-size: 50%;
}

.Slime:hover ~ .principal{
  background-image: url(https://gamepedia.cursecdn.com/terraria_gamepedia/2/2f/Animated_King_Slime.gif?version=b681139ff266040d6d08fafcb94b2056);
  height: 500px;
}
.Ojo:hover ~ .principal{
  background-image: url(https://vignette.wikia.nocookie.net/terraria/images/f/fb/Npc_4.gif/revision/latest?cb=20140422022504&path-prefix=es);
  height: 500px;
}
.Gusano:hover ~ .principal{
  background-image: url(https://vignette.wikia.nocookie.net/terraria/images/2/2d/Eater_of_Worlds.png/revision/latest?cb=20180715195123&path-prefix=es);
  height: 500px;
}
.Cerebro:hover ~ .principal{
  background-image: url(https://vignette.wikia.nocookie.net/terraria/images/6/6a/Brain_of_Cthulhu.gif/revision/latest?cb=20180815191525&path-prefix=es);
  height: 500px;
}
.Esqueleto:hover ~ .principal{
  background-image: url(https://vignette.wikia.nocookie.net/terraria/images/e/ea/Skeletron.png/revision/latest?cb=20170818231042&path-prefix=es);
  height: 500px;
}
.Abeja:hover ~ .principal{
  background-image: url(https://vignette.wikia.nocookie.net/terraria/images/6/60/Queen_Bee.gif/revision/latest?cb=20180920183412&path-prefix=es);
  height: 500px;
}
.Muro:hover ~ .principal{
  background-image: url(https://vignette.wikia.nocookie.net/terraria/images/d/d8/Wall_of_Flesh.png/revision/latest?cb=20130908005624&path-prefix=es);
  height: 500px;
}
.Destructor:hover ~ .principal{
  background-image: url(https://vignette.wikia.nocookie.net/terraria/images/4/4f/The_Destroyer.png/revision/latest?cb=20151109013824&path-prefix=es);
  height: 500px;
}
.Gemelos:hover ~ .principal{
  background-image: url(https://vignette.wikia.nocookie.net/terraria/images/e/e9/Twins_Boss.gif/revision/latest?cb=20180920185012&path-prefix=es);
  height: 500px;
}
.Prime:hover ~ .principal{
  background-image: url(https://vignette.wikia.nocookie.net/terraria/images/6/60/Skeletron_Prime.png/revision/latest?cb=20170423205201&path-prefix=es);
  height: 500px;
}
.Plantera:hover ~ .principal{
  background-image: url(https://vignette.wikia.nocookie.net/terraria/images/d/d2/Plantera.gif/revision/latest?cb=20180815191600&path-prefix=es);
  height: 500px;
}
.Golem:hover ~ .principal{
  background-image: url(https://vignette.wikia.nocookie.net/terraria/images/5/51/Golem_boss_2.png/revision/latest?cb=20190227182003&path-prefix=es);
  height: 500px;
}
.Fishron:hover ~ .principal{
  background-image: url(https://vignette.wikia.nocookie.net/terraria/images/2/21/Duke_Fishron.gif/revision/latest?cb=20180705182452&path-prefix=es);
  height: 500px;
}
.Sectario:hover ~ .principal{
  background-image: url(https://vignette.wikia.nocookie.net/terraria/images/a/aa/Animated_Lunatic_Cultist.gif/revision/latest?cb=20190223004959&path-prefix=es);
  height: 500px;
}
.Moon:hover ~ .principal{
  background-image: url(https://vignette.wikia.nocookie.net/terraria/images/7/7f/Moon_Lord.png/revision/latest?cb=20171021051421&path-prefix=es);
  height: 500px;
}