body{
  background-color: #eea019;
}
header{
  height: 230px;
  background-color: #d54949;
  padding: 10px;
  margin-bottom: 10px;
  border-width: 5px;
  border-style: dashed;
  border-color: #eea019;
}
nav{
  height: 30px;
  background-color: #e7692f;
  border-width: 5px;
  border-style: dashed;
  border-color: #d54949;
  text-align: center;
  margin-bottom: 10px;
}
#img{
    float: left;
}
h1{
  text-align: center;
  color: #e7692f;
  font-size: 40px;
}
h1:hover{
  font-size: 50px;
  color: #eea019;
}
.link:hover{
  font-size: 20px;
  background-color: #eea019;
}
a{
  display: inline-block;
  width: 20%;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}
div{
  background-color: #d54949;
  border-width: 5px;
  border-style: dashed;
  border-color: #eea019;
}
.l1{
  list-style-type: georgian;
}
.l2{
  list-style-image: url(https://alejandro916.gitlab.io/alejoproject/CSS/Practica2/icon.png);
}
.l3{
  list-style-type: circle;
}
