div{
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: #2dd4f3;
  padding: 10px;
  border-style: solid;
  border-color: #2d6df3;
  text-align: center;

}
#d1{
    border-radius: 60px 10px;
}
#d2{
    background-image: linear-gradient(#79f32d, #ffb400);
}
#d3{
    background-image: radial-gradient(#00dbff, #ff00f2);
}
#d4{
    background-image: repeating-radial-gradient(#1fccc0 10%, #000000 20%);
}
#d5{
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease;
    transition-delay: .3s;
}
#d5:hover{
    transform: translate(35px, 50px);
        background-color: #1f63cc;
}
#d5:active{
    height: 500px;
    width: 500px;
}
#d6{
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease;
    transition-delay: .3s;
}
#d6:hover{
    transform: rotate(35deg);
    background-color: #1f63cc;
}
#d6:active{
    transform: skewY(40deg);
    transform: skewX(40deg);
}
p{
  color: #2dd4f3;
}
