/*Comentari*/
body{
  background-image: url(https://hdwallsource.com/img/2014/4/free-background-wallpaper-22918-23554-hd-wallpapers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#inici{
  color: #FF0000;
  font-family: sans-serif;
  font-size: 75px;
  background-color: #000000;
  text-align: center;
}
nav{
  color: #0000FF
}
p{
  color: #FFFFFF
}
a{
  width: 100px;
  height: 25px;
}
.c1{
  display: block;
}
.c2{
  display: inline;
}
.c3{
  display: inline-block;
}
.p1{
  height: 100px;
  float: left;
}
.p2{
  height: 50px;
  float: right;
}
.p3{
  height: 1px;
  float: inherit;
}
